{{!-- recursivePageTree.hbs - A partial for rendering page trees recursively --}}
{{#each pages}}
  <div class="page-item {{#unless (hasNumericPrefix title)}}root-page{{/unless}}">
    <a href="../{{../spaceKey}}/{{encode title}}.html" 
       class="page-link {{#if isActive}}active{{/if}} {{#unless (hasNumericPrefix title)}}page-link-root{{/unless}}" 
       data-id="{{id}}">
      {{#unless (hasNumericPrefix title)}}📄 <strong>{{/unless}}
      {{title}}
      {{#unless (hasNumericPrefix title)}}</strong>{{/unless}}
    </a>
    {{#if children.length}}
      <div class="page-children">
        {{> recursivePageTree pages=children spaceKey=../spaceKey}}
      </div>
    {{/if}}
  </div>
{{/each}}
