<p>This page provides a reference guide for all the custom Handlebars helper functions available in <code>publish-confluence</code>. These helpers allow you to easily generate Confluence macros within your page templates (<code>confluence-template.html</code>).</p>
{{#confluence-tabs disposition="vertical" outline=true color="#0052CC"}}
  {{#confluence-tab name="HTML Macro" icon="icon-sp-globe"}}
    <h2>HTML Macro</h2>
  {{/confluence-tab}}
  {{#confluence-tab name="URL Helper" icon="icon-sp-link"}}
    <h2>URL Helper</h2>
  {{/confluence-tab}}
  {{#confluence-tab name="Panel Macro" icon="icon-sp-sitemap"}}
    <h2>Panel Macro</h2>
  {{/confluence-tab}}
  {{#confluence-tab name="Layout Macros" icon="icon-sp-database"}}
    <h2>Layout Macros</h2>
  {{/confluence-tab}}
  {{#confluence-tab name="Tabs Macros" icon="icon-sp-folder"}}
    <h2>Tabs Macros</h2>
  {{/confluence-tab}}
  {{#confluence-tab name="Code Block" icon="icon-sp-powerpoint"}}
    <h2>Code Block Macro</h2>
  {{/confluence-tab}}
  {{#confluence-tab name="TOC & Status" icon="icon-sp-menu"}}
    <h2>Table of Contents Macro</h2>
  {{/confluence-tab}}
  {{#confluence-tab name="Image Macro" icon="icon-sp-picture"}}
    <h2>Image Macro</h2>
  {{/confluence-tab}}
  {{#confluence-tab name="Admonitions" icon="icon-sp-tag"}}
    <h2>Admonition Macros</h2>
  {{/confluence-tab}}
  {{#confluence-tab name="Expand & Children" icon="icon-sp-list"}}
    <h2>Expand Macro</h2>
  {{/confluence-tab}}
  {{#confluence-tab name="Link Macro" icon="icon-sp-link"}}
    <h2>Link Macro</h2>
  {{/confluence-tab}}
  {{#confluence-tab name="Other Helpers" icon="icon-sp-more"}}
    <h2>Other Helpers</h2>
  {{/confluence-tab}}
{{/confluence-tabs}}
<hr />
<p><em>End of Macro Helper Reference. Last updated: {{currentDate}}</em></p>