{{#confluence-info title="Markdown processing in publishing-confluence" comment=false}}
<h3>This is a heading inside a info box</h3>
<ul>
<li>This is a list item inside the info box</li>
<li>This is another list item</li>
</ul>
<blockquote>
<p>This is a blockquote inside the info box
{{/confluence-info}}</p>
</blockquote>